@model IEnumerable<ManicureLand.Models.Empleado>

@{
    ViewBag.Title = "Empleados";
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var divMensaje = document.getElementById("messageModal");
        var mensaje = '@ViewBag.Message';

        if (mensaje.length > 1) {
            divMensaje.style.display = "block";
            divMensaje.classList.add("alert");
            divMensaje.classList.add("alert-warning");
            setTimeout(function () {
                divMensaje.style.display = "none";
            }, 3000);
        }
    }, false);
</script>
<h2>Empleados</h2>

<p>
    <div class="form-group">
        <div class="col-md-6 center-block">
            <input class="btn-success btn-sm col-md-12" type="button" value="Nuevo Empleado" onclick="location.href='@Url.Action("NuevoEmpleado", "Admin")'" />
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            Acción
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Ver/Modificar", "Empleado", new { item.IdEmpleado }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        
    }

</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="javascript:void(0);" onclick="history.go(-1);"><input type="button" value="Volver" class="btn btn-success" /></a>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12 center-block" id="messageModal" style="display:none">
        <p align="center">@ViewBag.Message</p>
    </div>
</div>