@model IEnumerable<ManicureLand.Models.Empleado>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<p>
    <div class="form-group">
        <div class="col-md-6 center-block">
            <input class="btn-success btn-sm col-md-12" type="button" value="Nuevo Empleado" onclick="location.href='@Url.Action("NuevoEmpleado", "Admin")'" />
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Ver/Modificar", "Empleado", new { item.IdEmpleado }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
